<section class="bg-white {-- h-screen --}">
  <div class="mx-auto flex lg:justify-center h-full flex-col lg:flex-row px-4">
    <div
      class="
        w-full
        lg:w-3/4
        px-2
        py-20
        sm:py-40 sm:px-12
        flex flex-col
        justify-center
        items-center
        relative
      "
    >
      <iframe
        frameBorder="0"
        scrolling="no"
        id="chat_frame"
        style="border: 1px solid #e5e5e5"
        width="100%"
        height="100%"
        [src]="meetingURL | safe"
      ></iframe>
      <!-- Title -->
      <div class="pt-8 leading-tight text-left font-bold justify-self-start">
        <h2 class="text-2xl font-bold text-indigo-700">{{ title }}</h2>
        <h4 class="text-md font-semibold text-indigo-800">{{ host }}</h4>
      </div>
    </div>

    <div class="w-full lg:w-1/4 flex justify-center bg-white dark:bg-gray-900">
      <div
        class="
          w-full
          sm:w-4/6
          md:w-3/6
          lg:w-2/3
          text-gray-800
          dark:text-gray-100
          flex flex-col
          justify-center
          px-2
          sm:px-0
          py-16
        "
      >
        <!-- Chat feature  -->
        <iframe
          frameBorder="0"
          scrolling="no"
          id="chat_frame"
          [src]="chatUrl | safe"
          style="border: 1px solid #e5e5e5"
          width="270"
          height="405"
        ></iframe>
        <!-- Chat feature  -->
      </div>
    </div>
  </div>
</section>
